body.bt-body {
  overflow-y: scroll;
  box-sizing: border-box;
  padding-right: $extension-width;
  transition: padding-right 0.2s ease;

  #app {
    margin: 0;
  }

  #better-trading-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    box-sizing: border-box;
    width: $extension-width;
    padding: $extension-y-padding $extension-x-padding;
    background-color: #0a0a0a;
    transition: right 0.2s ease;
  }

  &.bt-is-collapsed {
    padding-right: 0;

    #better-trading-container {
      right: #{-1 * $extension-width};
    }
  }
}
